.task {
    background-color: #88473498;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
}

.task-title {
    font-size: 2rem;
    margin-bottom: 10px;
}

.task-description {
    font-size: 1rem;
}

.task-delete-btn {
    padding: 1rem;
    background-color: rgb(72, 37, 19);
}