.task {
    background-color: #F4F2FF;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 1rem;
    width: 80%;
    border-radius: 12px;
}

.task-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.task-description {
    font-size: 1rem;
}

.task-delete-btn {
    padding: 1rem;
    background-color: rgb(72, 37, 19);
}

.task.completed {
    text-decoration: line-through;
    color: #888;
}